@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables/variables";
.switch[data-isOn="true"] {
  justify-content: flex-end;
}
body {
  display: flex;
  justify-content: center;
}
//// "build": "tsc && vite build",